<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Gems motivational quotes app</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="sidebar">
        <img src="/Gems.png" id="logoImg" alt="">
        <a class="active" href="/users/home">Home</a>
        <a href="/users/favorites" value={{userID}} name="userID">Favorites</a>
        <a href="/users/popular">Popular Categories</a>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
    </div>
    
    <div id="aboutDiv">   
    <h1>About</h1>
    <h3 id="aboutTxt">We all have moments when we need a few words of encouragement, a phrase that moves us, or the right thing
        to say to a friend in need. Sometimes it can be difficult to think of that quote once said by that one 
        great historical figure and you may need a little help. Gems was created to solve that problem. Use Gems to
        find the right words for any situation. 

        Gems - Find your motivation.
    </h3>
</div>

</body>
</html>