<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>{{header}}</h1>
		<br>
		<h3>{{quote}}</h3><h4>- {{author}}</h4>

		<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="active" href="/users/home">Home</a></li>
            <li><a class="dropdown-item" href="/users/popular-categories">Popular Categories</a></li>
            <li><a class="dropdown-item" href="/users/about">About</a></li>
            <li><a class="dropdown-item" href="/users/logout">Logout </a></li>
            <li><a class="dropdown-item" href="/users/favorites">Favorites</a></li>
          </ul>
        </div>
	</body>
</html>